extends layout

block content
    section
        .container
            .row
                .col-md-3
                    include sidenav
                .col-md-9
                    .heading-title.heading-line-single
                        h3
                            | A propos de la&nbsp;
                            span société
                    p La société Imoges a pour vocation de réaliser des immeubles à appartements qui offrent des prestations de qualité. Imoges est à la recherche d'une qualité sans égal, les partenaires avec lesquels nous collaborons apportent leurs savoir-faire à tous les niveaux dans la réalisation d'un projet global. La société Imoges a la motivation d'apporter un label d'excellence dans ses réalisations pour se différencier dans le monde de la construction.
    section.dark-bkg
        .container
            include gallery