.side-nav.margin-bottom-200
    ul(class="list-group list-group-bordered list-group-noicon uppercase")
        li.list-group-item(class=`${ sideNavActive && sideNavActive === 'user' ? 'active' : ''}`)
            a(href="../account/user") Mes données
        li.list-group-item(class=`${ sideNavActive && sideNavActive === 'realties' ? 'active' : ''}`)
            a(href="../account/realties") Mes biens
        li.list-group-item(class=`${ sideNavActive && sideNavActive === 'sav' ? 'active' : ''}`)
            a(href="../account/sav") Demande d'intervention
        li.list-group-item(class=`${ sideNavActive && sideNavActive === 'tickets' ? 'active' : ''}`)
            a(href="../account/tickets") Mes demandes
        li.list-group-item
            a(href="../auth/logout") Déconnexion