.side-nav.margin-bottom-60
    ul(class="list-group list-group-bordered list-group-noicon uppercase")
        li.list-group-item(class=`${ sideNavActive && sideNavActive === 'user' ? 'active' : ''}`)
            a(href="../account/user") Mes données
        li.list-group-item(class=`${ sideNavActive && sideNavActive === 'realties' ? 'active' : ''}`)
            a(href="../account/realties") Mes biens
        li.list-group-item(class=`${ sideNavActive && sideNavActive === 'sav' ? 'active' : ''}`)
            a(href="../account/sav") Mon SAV
        li.list-group-item(class=`${ sideNavActive && sideNavActive === 'sav' ? 'active' : ''}`)
            a(href="../account/logout") Déconnexion