extends layout

block content
    section
        .container
            .heading-title.heading-line-single
                h3
                    | Bienvenue&nbsp;
                    span= user.firstname
            .row.margin-bottom-100
                .col-md-3
                    .box-flip.box-color.box-icon.box-icon-center.box-icon-round.box-icon-large.text-center
                        .front
                            .box1(style="background-color:#a0ce4e;")
                                .box-icon-title
                                    i.fa.fa-user
                                    h2 Mes informations
                        .back
                            .box2(style="background-color:#a0ce4e;")
                                h4 Informations du compte
                                hr
                                p Gérer vos informations personnelles via cette page
                                a.btn.btn-translucid.btn-lg.btn-block(href="/account/user") Acceder
                .col-md-3
                    .box-flip.box-color.box-icon.box-icon-center.box-icon-round.box-icon-large.text-center
                        .front
                            .box1(style="background-color:#a0ce4e;")
                                .box-icon-title
                                    i.fa.fa-home
                                    h2 Mes biens
                        .back
                            .box2(style="background-color:#a0ce4e;")
                                h4 Liste des biens
                                hr
                                p Visualiser la liste de vos biens et leurs informations via cette page.
                                a.btn.btn-translucid.btn-lg.btn-block(href="/account/realties") Acceder
                .col-md-3
                    .box-flip.box-color.box-icon.box-icon-center.box-icon-round.box-icon-large.text-center
                        .front
                            .box1(style="background-color:#a0ce4e;")
                                .box-icon-title
                                    i.fa.fa-bell
                                    h2 Demander une intervention
                        .back
                            .box2(style="background-color:#a0ce4e;")
                                h4 Service après-vente
                                hr
                                p Vous avez un problème à signaler avec un de vos biens?
                                a.btn.btn-translucid.btn-lg.btn-block(href="/account/sav") Acceder
                .col-md-3
                    .box-flip.box-color.box-icon.box-icon-center.box-icon-round.box-icon-large.text-center
                        .front
                            .box1(style="background-color:#a0ce4e;")
                                .box-icon-title
                                    i.fa.fa-ticket
                                    h2 Mes demandes
                        .back
                            .box2(style="background-color:#a0ce4e;")
                                h4 Demandes d'intervetion
                                hr
                                p Visionnez la la liste de vos demandes d'intervention
                                a.btn.btn-translucid.btn-lg.btn-block(href="/account/tickets") Acceder
