extends layout

block content
    section
        .container
            h2.size-20
                | Conditions&nbsp;
                span générales

            p Vous visitez le site de&nbsp;
                b Imoges
                | , dont le siège social est établi à 7190 Ecaussinnes , 41 avenue de ma déportation , enregistrée auprès de la Banque-Carrefour des Entreprises sous le numéro BE0860782057.

            p Les coordonnées de contact spécifiques relativement à ce site sont :
                br
                | Imoges (N° Entr. BE0860782057 )
                br
                | 41 avenue de la déportation
                br
                | 7190 Ecaussinnes
                br
                | Belgique
                br
                | Mobile : 0487/75 03 06
                br
                | Email: info@imoges.be

            h4 1. Informations générales
            p Idéal Tax s'engage à respecter la loi belge du 8 décembre 1992 relative à la protection de la vie privée à l'égard du traitement des données à caractère personnel, consultable en ligne sur le site de la commission de la protection de la vie privée&nbsp;
                a(href="http://privacy.fgov.be" target="BLANK") http://privacy.fgov.be.

            p En visitant le site de&nbsp;
                b Imoges
                | , vous consentez à ce que&nbsp;
                b Imoges&nbsp;
                | recueille lors de cette visite et traite selon les modalités et principes décrits ci-après, les données suivantes vous concernant :
                ul
                    li Votre domaine (détecté automatiquement) ;
                    li Votre adresse email si vous nous l'avez révélée, par exemple en envoyant des messages ou des questions sur ce site, en communiquant avec nous via votre email, en procédant à votre inscription, etc. ;
                    li L'information concernant les pages que vous avez consultées sur notre site ;
                    li Toute information donnée volontairement, par exemple lors d’inscriptions sur le site, par exemple lors de l’inscription en ligne, qui requiert la saisie des nom, prénom, adresse physique, téléphone/gsm de contact, adresse email.

            h4 2. Communications par voie postale ou par voie téléphonique
            p Si vous nous communiquez votre adresse postale ou votre numéro de téléphone via internet, vous pourrez recevoir des mailings ou des appels téléphoniques de notre part, vous informant sur nos services, ainsi que sur les événements&nbsp
                b Imoges
                | . Si vous ne souhaitez pas recevoir de tels mailings ou appels, contactez-nous à l'adresse ci-dessous.

            h4 3. Finalités de la collecte et du traitement des données :
            p enregistrer vos inscriptions éventuelles, facturation, envoi d’informations promotionnelles sur nos services ;
                br
                |sous réserve de votre accord sur cette option lors de l’envoi de vos données, vous transmettre des informations sur nos nouveaux services ou mener des actions de marketing direct appropriées, notamment par voie d’e-mail ;
                br
                | mener des opérations de marketing ;
                br
                | réaliser des statistiques ;
                br
                | vous contacter rapidement ;
                br
                | répondre à vos questions et identifier vos centres d’intérêt.
                br
                | Si vous ne souhaitez plus être contacté à l’avenir par voie électronique pour l’une de ses finalités – à l’exception des fins nécessaires à l’exécution de notre contrat avec vous - il vous suffit de nous contacter par l'un des moyens visés ci-dessous.

            p Les présentes règles ne portent pas préjudice au droit de Idéal Tax d’accomplir des actes plus étendus si elle y est autorisée en vertu d’un contrat, de la loi ou de tout autre document d'ordre contractuel ou réglementaire, étant entendu que la norme la plus favorable pour Idéal Tax s'applique.

            h4 4. Formulaires et cookies
            p Vous serez invités en cas d’inscription en ligne à remplir un formulaire dont certains champs suivis d’un astérisque (*) sont nécessaires pour pouvoir offrir le service demandé, d’autres étant optionnels.
                br
                | Ces champs optionnels sont destinés à nous permettre de vous contacter rapidement si nécessaire ou identifier au mieux vos centres d’intérêt pour vous envoyer les informations correspondant à ceux-ci.
                br
                | Lors de votre visite sur le site Idéal Tax, un cookie peut également être enregistré sur votre ordinateur (un fichier de très faible taille qui conserve la trace du site web visité et contient certaines informations sur cette visite). L’enregistrement de cookies est une pratique très répandue qui permet d’optimiser la navigation sur le site lors de prochaines visites (reconnaissance automatique de la langue d’interface, démarches raccourcies en cas de commande, etc.).
                br
                | Vous pouvez être informé de l’envoi de ce cookie et bloquer cet envoi en configurant votre navigateur internet en ce sens (consulter la rubrique ‘aide’ de votre navigateur).

            h4 5. Confidentialité
            p Vos données ne seront transmises à aucun tiers, sans votre consentement, à l’exception de la société d’hébergement de notre site, pour les nécessités de la navigation sur internet. Idéal Tax se réserve le droit de divulguer des informations personnelles sur requête d'une autorité légale ou si elle estime de bonne foi que cette divulgation est requise :
            ul
                li pour se conformer à toute loi ou réglementation en vigueur ;
                li pour protéger ou défendre les droits ou les biens de Idéal Tax, du site ou des utilisateurs de celui-ci ;
                li si des circonstances impérieuses le justifient, pour protéger la sécurité personnelle des utilisateurs de Idéal Tax, du site ou du public.

            h4 6. Protection des données
            p
                b Imoges&nbsp;
                | produira ses meilleurs efforts pour protéger vos données à caractère personnel, afin d'empêcher notamment qu'elles soient déformées, endommagées ou communiquées à des tiers non autorisés.

            h4 7. Droit d’accès, de rectification, de suppression et de désinscription
            p Vous pouvez toujours vérifier l’état des données vous concernant en nous adressant un email (info@imoges.be ) ou un courrier à l’adresse du siège social. Nous vous communiquerons ces données dans les meilleurs délais après avoir contrôlé votre identité. Vous pourrez solliciter la rectification des données erronées, inexactes ou incomplètes.
            p Si vous souhaitez que nous supprimions de notre base les données vous concernant, il vous suffit de nous contacter par mail ou par courrier, aux adresses ci-dessus. Nous nous engageons à le faire dans les meilleurs délais, sauf évidemment pour les informations nécessaires à la fourniture des services que vous avez contractés, et pour la facturation et le respect des règles comptables.
            p Par ailleurs, les e-mails ou newsletters qui vous seront éventuellement transmis indiqueront toujours un lien sur lequel vous pourrez cliquer de façon à ne plus recevoir d’informations promotionnelles de notre part.
            p Si vous estimez que notre site ne respecte pas la réglementation sur la protection de la vie privée, contactez-nous via un des moyens proposés sous la rubrique données de contact, ci-dessous.

            h4 8. Mise d'option sur un bien
            p La mise d'une option sur un bien via le site web&nbsp;
                b Imoges&nbsp;
                | n'a aucune valeur légale et&nbsp;
                b Imoges&nbsp;
                | se réserve le droit d'accepter, refuser ou supprimer une option émise par un utilisateur. L'option devient légalement effective lors de la signature du compromis de vente par les deux parties.

            h4 9. Données de Contact
            p Imoges SPRL (N° Entr. BE0860782057 )
                br
                | 41 avenue de la déportation
                br
                | 7190 Ecaussinnes
                br
                | Belgique
                br
                | Mobile : 0487/75 03 06
                br
                | Email: info@imoges.be