extends layout

block content
    section
        .container
            .row
                .col-md-8
                    form
                        fieldset
                            input(type="mail" placeholder="Adresse mail" required name="email" class="form-control")
                            textarea(class="form-control" required)
                .col-md-4
                    | Coordonnées