extends layout

block content
    section
        .container
            .heading-title.heading-line-single
                h3
                    | Questions&nbsp;
                    span fréquentes