extends layout

block content
    .box-light.padding-bottom-30
        .container
            h2.weight-300.text-center LES DERNIERS PROJETS
            hr
            include lastprojects
    section.info-bar.info-bar-clean.info-bar-light
        .container
            .row
                .col-sm-4
                    i.fa.fa-tree
                    h3 CADRE DE VIE OPTIMISE
                    p
                        | Garantir un cadre de vie de qualité fait partie de nos priorités aux quotidiens...
                        a(href="/qualitychart#cadre-de-vie") En savoir plus
                .col-sm-4
                    i.fa.fa-shield
                    h3 ISOLATION ACOUSTIQUE ET THERMIQUE
                    p
                        | Imoges apporte une grande importance à l'isolation acoustique et thermique...
                        a(href="/qualitychart#isolations") En savoir plus
                .col-sm-4
                    i.fa.fa-cubes
                    h3 MATERIAUX DE QUALITE
                    p
                        | Des matériaux de qualité pour une construction de qualité...
                        a(href="/qualitychart#materiaux") En savoir plus
    section
        .container
            .row
                .col-sm-6
                    header.margin-bottom-40
                        h1.weight-300 DES FINITIONS A LA CARTE
                        h2.weight-300.letter-spacing-1.size-13
                            span Un appartement à votre image
                    p La société Imoges a établi un cahier des charges rigoureux afin d'apporter une qualité de confort à une clientèle exigeante. Ce concept s'appuie sur l'utilisation de matériaux de qualité et d'un savoir-faire de nos partenaires.
                    p Une caractéristique appréciée de nos clients est le fait de pouvoir choisir à la carte les finitions de leur habitation.
                    hr
                .col-sm-6
                    .owl-carousel.buttons-autohide.controlls-over(data-plugin-options='{"singleItem": true, "autoPlay": 3400, "navigation": false, "pagination": true, "transitionStyle":"fadeUp"}')
                        div
                            img.img-responsive(src="/images/temp_projects/slide-01.jpg" alt="")
                        div
                            img.img-responsive(src="/images/temp_projects/slide-02.jpg" alt="")
                        div
                            img.img-responsive(src="/images/temp_projects/slide-03.jpg" alt="")
    section.parallax-4.no-transition(style="background-image:url('/images/temp_projects/bkg-01.jpg')")
        .container
            .row.padding-10(style="background-color: #FFF;")
                .col-md-6
                    .heading-title.heading-line-single.margin-top-10
                        h4
                            | Denière&nbsp;
                            span vidéo
                    div(class="embed-responsive embed-responsive-16by9 margin-bottom-20")
                        iframe(class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/6yQU77YjojM")
                    .heading-title.heading-border.margin-top-20
                        h5 Projet Ines II - Bien 3.2
                        ul.list-inline.categories.nomargin
                            li
                                a(href="/realty?id=247") Voir le bien
                .block.height-450
                    .col-md-6
                        .heading-title.heading-line-single.margin-top-10
                            h4
                                | Denière&nbsp;
                                span vidéo
                        div(class="embed-responsive embed-responsive-16by9 margin-bottom-20")
                            iframe(class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/n1w3gxjS5IU")
                        .heading-title.heading-border.margin-top-20
                            h5 Les maisons de Marie II
                            ul.list-inline.categories.nomargin
                                li
                                    a(href="/project?id=30") Voir le projet

    a(href="/contact" rel="nofollow" target="_self" class="btn btn-xlg btn-default size-20 fullwidth nomargin noradius padding-40 noborder-left noborder-right noborder-bottom")
        span.font-lato.size-30
            | Besoin de plus d'informations?&nbsp;
            strong Contactez-nous &raquo;