extends layout

block content
    section
        .container
            figure.margin-bottom-20
                img.img-responsive(src="/images/investissement.jpg")
            .row
                .col-md-6
                    .heading-title.heading-line-single
                        h3!= "Investir dans <span>l'immobilier</span>"
                    p Quand les investissements deviennent incertains et que la confiance envers les banques et le système financier décline, il est bon de trouver des valeurs refuges comme l'immobilier. Avec une plus value annuelle de +/- 5% en moyenne calculée sur les quarante dernières années * source BNB revue économique, le rendement de votre compte épargne vous semblera bien tèrne en comparaison.
                        br
                        | L'immobilier? Un investissement sans risque en bon père de famille.
                .col-md-6
                    .heading-title.heading-line-single
                        h3!= "Les <span>avantages</span>"
                    ul.list-unstyled.list-icons
                        li
                            i.fa.fa-check.text-success
                            | Un placement financier sûr
                        li
                            i.fa.fa-check.text-success
                            | Réduit mes impôts
                        li
                            i.fa.fa-check.text-success
                            | Me constitue un patrimoine
                        li
                            i.fa.fa-check.text-success
                            | Me crée un complément de retraite
                        li
                            i.fa.fa-check.text-success
                            | Protège ma famille
            .row
                .col-md-12
                    div(class="box-static box-border-top box-color padding-10")
                        div(class="box-title")
                            h2.size-20.margin-bottom-10 Une gestion locative personnalisée
                        p Plus besoin de vous en soucier, nous nous occupons de tout pour VOUS en assurant la prise en charge de l’ensemble des démarches.
                        ul.list-unstyled.list-icons
                            li
                                i.fa.fa-check
                                | Mise en location de votre bien, recherche d’un locataire, vérifications complètes (solvabilité, composition de ménage, renseignements divers).
                            li
                                i.fa.fa-check
                                | Organisation de l’état des lieux avec un expert agréé.
                            li
                                i.fa.fa-check
                                | Remise des clés, encodage de la garantie locative, enregistrement du contrat de bail, relevé des compteurs, etc
                            li
                                i.fa.fa-check
                                | Encaissement et indexation des loyers, répartition des décomptes, régularisation des charges annuelles, etc.
                            li
                                i.fa.fa-check
                                | Suivi des locataires, correspondances diverses, mails, appels téléphoniques, courriers, visite…
                            li
                                i.fa.fa-check
                                | Gestion des interventions techniques, vérification des travaux, déclaration de sinistre.
    section
        .container
            .heading-title.heading-line-single
                h3!= "Les investissements <span>disponibles</span>"