extends layout

block content
    section
        .container
            .row
                .col-md-12
                    .heading-title.heading-line-single
                        h3
                            | Galerie&nbsp;
                            span photo
                .col-md-12
                    div(class=`masonry-gallery columns-5 clearfix lightbox` data-img-big="1" data-plugin-options='{"delegate": "a", "gallery": {"enabled": true}}')
                        each m in media
                            a.image-hover(href=`${ m.fhd }`)
                                img(src=`${ m.thumb }`)