extends layout

block content
    section
        .container
            .row
                .col-md-12
                    .heading-title.heading-line-single
                        h3
                            | Service&nbsp;
                            span après vente
                    p Imoges se préocupe du bien-être de ses clients