extends layout

block content
    section
        .container
            .row
                .col-md-3
                    include sidenav
                .col-md-9
                    .heading-title.heading-line-single
                        h3
                            | Conditions&nbsp;
                            span générales