section.page-header.imoges-red.page-header-md
    .container
        h1 CONSTRUCTION&nbsp;
            span IMOGES
        ol.breadcrumb
            if breadcrumb
                each b in breadcrumb
                    if b.link
                        li
                            a(href=`${ b.link }`) #{ b.label }
                    else
                        li.active #{ b.label }