extends layout

block content
    section
        .container
            .row
                .col-md-3
                    include accountsidenav
                .col-md-9
                    form.nomargin.sky-form#user_form(method="post")
                        fieldset
                            .row
                                .form-group
                                    .col-md-6.col-sm-6
                                        label Prénom *
                                        label.input.margin-bottom-10
                                            i.ico-append.fa.fa-user
                                            input(required type="text" name="firstname" value=`${user.firstname}`)
                                            b.tooltip.tooltip-bottom-right Votre prénom
                                    .col-md-6.col-sm-6
                                        label Nom *
                                        label.input.margin-bottom-10
                                            i.ico-append.fa.fa-user
                                            input(required type="text" name="lastname" value=`${user.lastname}`)
                                            b.tooltip.tooltip-bottom-right Votre nom
                            .row
                                .form-group
                                    .col-md-6.col-sm-6
                                        label Email *
                                        label.input.margin-bottom-10
                                            i.ico-append.fa.fa-envelope
                                            input(required type="email" name="email" disabled value=`${user.email}`)
                                            b.tooltip.tooltip-bottom-right Votre adresse mail. Attention il s'agit également de votre login!
                                    .col-md-6.col-sm-6
                                        label Mobile
                                        label.input.margin-bottom-10
                                            i.ico-append.fa.fa-mobile
                                            input(type="number" name="mobile" value=(user.mobile ? user.mobile : ''))
                                            b.tooltip.tooltip-bottom-right Votre numéro de mobile
                            .row
                                .form-group
                                    .col-md-6.col-sm-6
                                        label Adresse
                                        label.input.margin-bottom-10
                                            i.ico-append.fa.fa-home
                                            input( type="text" name="address" value=(user.address ? user.address : ''))
                                            b.tooltip.tooltip-bottom-right Votre adresse
                                    .col-md-4
                                        label Ville
                                        label.input.margin-bottom-10
                                            i.ico-append.fa.fa-home
                                            input( type="text" name="city" value=(user.city ? user.city : ''))
                                            b.tooltip.tooltip-bottom-right Votre ville
                                    .col-md-2
                                        label Code postal
                                        label.input.margin-bottom-10
                                            i.ico-append.fa.fa-home
                                            input( type="text" name="pc" value=(user.pc ? user.pc : ''))
                                            b.tooltip.tooltip-bottom-right Votre code postal
                            hr.margin-bottom-40
                            .row
                                .form-group
                                    .col-md-6.col-sm-6
                                        label Société
                                        label.input.margin-bottom-10
                                            i.ico-append.fa.fa-industry
                                            input(type="text" name="company_name" value=(user.company_name ? user.company_name : ''))
                                            b.tooltip.tooltip-bottom-right Nom de la société
                                    .col-md-6.col-sm-6
                                        label N° entreprise
                                        label.input.margin-bottom-10
                                            i.ico-append.fa.fa-legal
                                            input(type="text" name="company_vat" value=(user.company_vat ? user.company_vat : ''))
                                            b.tooltip.tooltip-bottom-right N° de TVA
                            .row
                                .form-group
                                    .col-md-6.col-sm-6
                                        label Adresse
                                        label.input.margin-bottom-10
                                            i.ico-append.fa.fa-home
                                            input(type="text" name="company_address" value=(user.company_address ? user.company_address : ''))
                                            b.tooltip.tooltip-bottom-right Adresse de la société
                                    .col-md-4
                                        label Ville
                                        label.input.margin-bottom-10
                                            i.ico-append.fa.fa-home
                                            input(type="text" name="company_city" value=(user.company_city ? user.company_city : ''))
                                            b.tooltip.tooltip-bottom-right Ville de la société
                                    .col-md-2
                                        label Code postal
                                        label.input.margin-bottom-10
                                            i.ico-append.fa.fa-home
                                            input(type="text" name="company_pc" value=(user.company_pc ? user.company_pc : ''))
                                            b.tooltip.tooltip-bottom-right Code postal de la société
                            .row.margin-top-20
                                button.btn.btn-primary(type="submit")
                                    i.fa.fa-check
                                    | Enregistrer