extends layout

block content
    section
        .container
            .row
                .col-md-12
                    .heading-title.heading-line-single
                        h3
                            | Galerie&nbsp;
                            span vidéo
            .row
                .col-md-12
                    div(class="embed-responsive embed-responsive-16by9 margin-bottom-20")
                        iframe(class="embed-responsive-item" width="560" height="315" src=`${lastVideo.library_media_url}`)
            .row
                each video in videos
                    .col-md-6
                        div(class="embed-responsive embed-responsive-16by9 margin-bottom-20")
                            iframe(class="embed-responsive-item" width="560" height="315" src=`${video.library_media_url}`)